@model ProyectoMerck.Models.FertilityVM

<header style="background-color:#2EBDCD">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
        <div class="container-fluid">
            <a href="@Url.Action("Index", "Fertility")" class="btn"><i style="color: white; font-size: 1.5em" class="bi bi-chevron-left"></i></a>
            <button style="color: white; font-size: 2em" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list" style="color:white"></i>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <img style="display:block; margin-left:auto; margin-right:auto" src="~/images/MerckFertilidad.JPG" />
</header>

<div style="background-color:#2EBDCD;">
    <div class="row justify-content-center">
        <div class="col-1"><i style="color: white; font-size: 2em; opacity:0.8" class="bi bi-chevron-left"></i></div>
        <div class="col-7 offset-1 text-center align-self-center" style="color: white; font-size: 2em">Formulario</div>
        <div class="col-2">
            <i style="color: white; font-size: 2em; opacity:0.8" class="bi bi-chevron-right"></i>
        </div>

        <div style="background-color:white; border-top-left-radius: 1000px; border-top-right-radius: 1000px; height: 50px">
        </div>
    </div>
</div>



@using (Html.BeginForm("Consult", "Fertility", FormMethod.Post))
{
    @Html.HiddenFor(c => c.Locations)
    @Html.HiddenFor(c => c.SelectedLocationIndex, new { id = "SelectedLocationIndex" })


    <div class="container">
        <div class="row border-bottom">
            <div class="col-2 offset-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-pin" style="font-size: 3.6rem;color:#583B93; background-color:#E3E7F8; border-radius:5px "></i>
            </div>
            <div class="col-4">
                <row>
                    <div class="col-6 align-self-bottom" style="color:#583B93">
                        <h5>Pais</h5>
                    </div>
                </row>
                <div class="row d-flex align-self-end">
                    @Html.DropDownListFor(p => p.SelectedCountry, Model.CountryList.Select(c =>
                new SelectListItem()
                {
                Value = c.Id.ToString(),
                Text = c.Name
                }),
                new { @class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example", id = "countryDropdown" })
                </div>
                <row>
                    <div class="col-6 align-self-bottom" style="color:#583B93">
                        <h5>Provincia</h5>
                    </div>
                </row>
                <div class="row d-flex align-self-end">
                    @Html.DropDownListFor(p => p.SelectedProvince, Enumerable.Empty<SelectListItem>(), new { @class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example", id = "provinceDropdown" })
                </div>
                <row>
                    <div class="col-6 align-self-bottom" style="color:#583B93">
                        <h5>Localidad</h5>
                    </div>
                </row>
                <div class="row d-flex align-self-end">
                    @Html.DropDownListFor(p => p.SelectedProvinceLocation, Enumerable.Empty<SelectListItem>(), new { @class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example", id = "provinceLocationDropdown" })
                </div>
            </div>
        </div>
        <div class="row border-bottom my-2">
            <div class="col-2 offset-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-journal justify-content-center" style="font-size: 3.6rem;color:#EA3B95; background-color:#E3E7F8; border-radius:5px "></i>
            </div>
            <div class="col-4">
                <row>
                    <div class="col-10 align-self-bottom" style="color:#EA3B95">
                        <h5>Motivo Consulta</h5>
                    </div>
                </row>
                <row class="d-flex align-self-end">
                    @Html.DropDownListFor(p => p.ConsultMotiveMessage, Enumerable.Range(0,Model.ConsultMotiveList.Count).Select(num =>
                new SelectListItem(){
                Value = Model.ConsultMotiveList[num].Id.ToString(),
                Text = Model.ConsultMotiveList[num].ConsultMotiveX
                }),
                new {@class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example"})
                </row>
            </div>
        </div>
        <div class="row border-bottom my-2">
            <div class="col-2 offset-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-envelope justify-content-center" style="font-size: 3.6rem;color:#EA3B95; background-color:#E3E7F8; border-radius:5px "></i>
            </div>
            <div class="col-4">
                <row>
                    <div class="col-10 align-self-bottom" style="color:#EA3B95">
                        <h5>Mail Contacto</h5>
                    </div>
                </row>
                <row class="d-flex align-self-end">
                    @Html.TextBoxFor(p => p.UserEmail,
                new {@class = "form-control"})
                </row>
            </div>
        </div>

        <div class="container">
            <div class="row m-2 d-flex">

                @for (int i = 0; i < Model.LocationsList.Count; i++)
                {
                    
                    <div class="col-4 my-2 d-flex flex-column align-items-center">
                        <i data-provincia="@Model.LocationsList[i].ProvinceLocationId" id="@i" class="clinic-icon bi bi-flower1 d-flex d-none"></i>
                        <p data-provincia="@Model.LocationsList[i].ProvinceLocationId" class="clinic-text d-none">@Model.LocationsList[i].Title</p>
                    </div>

                }


            </div>

            <div id="submitter" class="text-center d-flex justify-content-center d-none">
                <button class="btn form-control p-1 my-5 border-light" style="color:white; border-radius: 50px; background-color:darkcyan;">Enviar</button>
            </div>


        </div>




    </div>


}

<script>

    // Function to filter clinics based on selected Provincia
        document.getElementById('provinceLocationDropdown').addEventListener('change', function () {
            var selectedProvinceLocation = parseInt(this.value);

            console.log(selectedProvinceLocation)

            document.querySelectorAll('.clinic-icon, .clinic-text').forEach(function (element) {
                element.classList.add('d-none'); 
                console.log(element);
            });

            document.querySelectorAll('.clinic-icon[data-provincia="' + selectedProvinceLocation + '"]').forEach(function (icon) {
                icon.classList.remove('d-none'); 
            });

            document.querySelectorAll('.clinic-text[data-provincia="' + selectedProvinceLocation + '"]').forEach(function (textElement) {
                textElement.classList.remove('d-none'); 
            });
        });

    document.querySelectorAll('.clinic-icon').forEach(function (icon) {
        icon.classList.add('nonselected-clinic'); 

        icon.addEventListener('click', function () {
            document.querySelectorAll('.clinic-icon').forEach(function (otherIcon) {
                otherIcon.classList.remove('selected-clinic');
                otherIcon.classList.add('nonselected-clinic'); 
            });

            this.classList.remove('nonselected-clinic');
            this.classList.add('selected-clinic'); 
            updateHiddenField();
        });
    });

    // Function to update hidden field based on selected clinic
    function updateHiddenField() {
        var selectedProvincia = parseInt(document.querySelector('.selected-clinic').id) + 1;
        document.getElementById('SelectedLocationIndex').value = selectedProvincia || '';

        document.getElementById('submitter').classList.remove('d-none');
    }

    document.getElementById('countryDropdown').addEventListener('change', function(country){

        var selectedCountry = parseInt(this.value);

        var allProvincias = @Html.Raw(Json.Serialize(@Model.ProvinceList));

        var filteredProvincias = allProvincias.filter(function (provincia){
            return provincia.countryId === selectedCountry;
        })

        document.querySelectorAll('.clinic-icon, .clinic-text').forEach(function(element){
            element.classList.add('d-none');
        })

        updateDropdown('provinceDropdown', filteredProvincias);
        updateDropdown('provinceLocationDropdown',[]);

    })

    document.getElementById('provinceDropdown').addEventListener('change',function(){


        var selectedProvince = parseInt(this.value);

        var allLocations = @Html.Raw(Json.Serialize(@Model.ProvinceLocationList));

        var filteredLocations = allLocations.filter((location) =>{
            return location.provinceId === selectedProvince;
        })

        document.querySelectorAll('.clinic-icon, .clinic-text').forEach(function (element) {
            element.classList.add('d-none');
        })

        updateDropdown('provinceLocationDropdown', filteredLocations);

    })

    function updateDropdown(dropdownId, data){
        
        var dropdown = document.getElementById(dropdownId);
        dropdown.innerHTML = '';

        var defaultOption = document.createElement('option');
        defaultOption.value = 0;
        defaultOption.text = '--- Seleccione una opción ---';
        dropdown.add(defaultOption);

        console.log(defaultOption);

        data.forEach(function (element){
            var option = document.createElement('option');

            option.value = element.id;
            option.text = element.name;

            dropdown.add(option);

        })

    }

</script>

<script src="~/js/index.js"></script>
