@model ProyectoMerck.Models.FertilityVM

<header style="background-color:#2EBDCD">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
        <div class="container-fluid">
            <a href="@Url.Action("Index", "Fertility")" class="btn"><i style="color: white; font-size: 1.5em" class="bi bi-chevron-left"></i></a>
            <button style="color: white; font-size: 2em" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list" style="color:white"></i>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <img style="display:block; margin-left:auto; margin-right:auto" src="~/images/MerckFertilidad.JPG" />
</header>

<div style="background-color:#2EBDCD;">
    <div class="row justify-content-center">
        <div class="col-1"><i style="color: white; font-size: 2em; opacity:0.8" class="bi bi-chevron-left"></i></div>
        <div class="col-7 offset-1 text-center align-self-center" style="color: white; font-size: 2em">Formulario</div>
        <div class="col-2">
            <i style="color: white; font-size: 2em; opacity:0.8" class="bi bi-chevron-right"></i>
        </div>

        <div style="background-color:white; border-top-left-radius: 1000px; border-top-right-radius: 1000px; height: 50px">
        </div>
    </div>
</div>



@using (Html.BeginForm("Consult", "Fertility", FormMethod.Post))
{
    @Html.HiddenFor(c => c.Locations)

    <div class="container">
        <div class="row border-bottom">
            <div class="col-2 offset-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-pin" style="font-size: 3.6rem;color:#583B93; background-color:#E3E7F8; border-radius:5px "></i>
            </div>
            <div class="col-4">
                <row>
                    <div class="col-6 align-self-bottom" style="color:#583B93">
                        <h5>Provincia</h5>
                    </div>
                </row>
                <row class="d-flex align-self-end">
                    @Html.DropDownListFor(p => p.ConsultMotive, Enumerable.Range(0,15).Select(num => 
                    new SelectListItem(){
                        Value = "",
                        Text = ""
                    }),
                    new {@class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example"})
                </row>
            </div>
        </div>
        <div class="row border-bottom my-2">
            <div class="col-2 offset-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-journal justify-content-center" style="font-size: 3.6rem;color:#EA3B95; background-color:#E3E7F8; border-radius:5px "></i>
            </div>
            <div class="col-4">
                <row>
                    <div class="col-10 align-self-bottom" style="color:#EA3B95">
                        <h5>Motivo Consulta</h5>
                    </div>
                </row>
                <row class="d-flex align-self-end">
                    @Html.DropDownListFor(p => p.ConsultMotive, Enumerable.Range(0,15).Select(num =>
                new SelectListItem(){
                Value = "",
                Text = ""
                }),
                new {@class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example"})
                </row>
            </div>
        </div>
        <div class="row border-bottom my-2">
            <div class="col-2 offset-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-envelope justify-content-center" style="font-size: 3.6rem;color:#EA3B95; background-color:#E3E7F8; border-radius:5px "></i>
            </div>
            <div class="col-4">
                <row>
                    <div class="col-10 align-self-bottom" style="color:#EA3B95">
                        <h5>Mail Contacto</h5>
                    </div>
                </row>
                <row class="d-flex align-self-end">
                    @Html.TextBoxFor(p => p.ConsultMotive,
                new {@class = "form-control"})
                </row>
            </div>
        </div>

        <div class="container">
            <div class="row m-2">

                @for (int i = 0; i < Model.LocationsList.Count; i++)
                {
                    <div class="col-4 my-2 d-flex flex-column align-items-center">
                        <i class="bi bi-flower1 d-flex" style="@(Model.FertilityLevel == FertilityLevel.Medium ? "color:white; background-color: #EC3B96; border-radius:8px; font-size:4em;  box-shadow: 5px 5px 5px gray;" : "color:#8C92AC; background-color: #E4E7F8; border-radius:10px; font-size:4em")"></i>
                        <p>@Model.LocationsList[i].Title</p>
                    </div>

                }

            </div>

            <div class="text-center d-flex justify-content-center">
                <a class="btn form-control p-1 my-5 border-light" style="color:white; border-radius: 50px; background-color:darkcyan;" href="@Url.Action("ConsultFinish","Fertility")">Enviar</a>
            </div>


        </div>





    </div>


}

<script src="~/js/index.js"></script>
