@model ProyectoMerck.Models.FertilitySubmitVM

<header style="background-color:#2EBDCD">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
        <div class="container-fluid">
            <a href="@Url.Action("Index", "Fertility")" class="btn"><i style="color: white; font-size: 1.5em" class="bi bi-chevron-left"></i></a>
            <button style="color: white; font-size: 2em" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list" style="color:white"></i>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <img style="display:block; margin-left:auto; margin-right:auto" src="~/images/MerckFertilidad.JPG" />
</header>

<div style="background-color:#2EBDCD;">
    <div class="row justify-content-center">
        <div class="col-1"><i style="color: white; font-size: 2em; opacity:0.8" class="bi bi-chevron-left"></i></div>
        <div class="col-7 offset-1 text-center align-self-center" style="color: white; font-size: 2em">Formulario</div>
        <div class="col-2">
            <i style="color: white; font-size: 2em; opacity:0.8" class="bi bi-chevron-right"></i>
        </div>

        <div style="background-color:white; border-top-left-radius: 1000px; border-top-right-radius: 1000px; height: 50px">
        </div>
    </div>
</div>



@using (Html.BeginForm("Consult", "Fertility", FormMethod.Post))
{
    @Html.HiddenFor(c => c.Locations)
    @Html.HiddenFor(c => c.SelectedLocationIndex, new { id = "SelectedLocationIndex" })


    <div class="container">
        <div class="row border-bottom">
            <div class="col-2 offset-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-pin" style="font-size: 3.6rem;color:#583B93; background-color:#E3E7F8; border-radius:5px "></i>
            </div>
            <div class="col-6">
                <row>
                    <div class="col-6 align-self-end" style="color:#583B93">
                        <h5>Pais</h5>
                    </div>
                </row>
                <row class="d-flex align-self-end">
                    @Html.DropDownListFor(p => p.SelectedCountry, Model.CountryList.Select(c =>
                new SelectListItem()
                {
                Value = c.Id.ToString(),
                Text = c.Name
                }),"--- Seleccione una opción ---",
                new { @class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example", id = "countryDropdown" })
                </row>
                <row>
                    <div class="col-6 align-self-bottom" style="color:#583B93">
                        <h5>Provincia</h5>
                    </div>
                </row>
                <row class="d-flex align-self-end">
                    @Html.DropDownListFor(p => p.SelectedProvince, Enumerable.Empty<SelectListItem>(),"--- Seleccione una opción ---", new { @class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example", id = "provinceDropdown" })
                </row>
                <row>
                    <div class="col-6 align-self-bottom" style="color:#583B93">
                        <h5>Localidad</h5>
                    </div>
                </row>
                <row class="d-flex align-self-end">
                    @Html.DropDownListFor(p => p.SelectedProvinceLocation, Enumerable.Empty<SelectListItem>(),"--- Seleccione una opción ---", new { @class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example", id = "provinceLocationDropdown" })
                </row>
            </div>
        </div>
        <div class="row border-bottom my-2 py-1">
            <div class="col-2 offset-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-journal justify-content-center" style="font-size: 3.6rem;color:#EA3B95; background-color:#E3E7F8; border-radius:5px "></i>
            </div>
            <div class="col-6">
                <row>
                    <div class="col-11 align-self-bottom" style="color:#EA3B95">
                        <h5>Motivo Consulta</h5>
                    </div>
                </row>
                <row class="d-flex align-self-end">
                    @Html.DropDownListFor(p => p.ConsultMotiveMessage, Enumerable.Range(0,Model.ConsultMotiveList.Count).Select(num =>
                new SelectListItem(){
                Value = Model.ConsultMotiveList[num].ConsultMotiveX,
                Text = Model.ConsultMotiveList[num].ConsultMotiveX
                }),
                "--- Seleccione una opción ---",
                new {@class = "form-select form-select-lg mb-3", aria_label = ".form-select-lg example"})
                </row>
                @Html.ValidationMessageFor(p => p.ConsultMotiveMessage,"", new {@style="color:red; text-align:center"})
            </div>
        </div>
        <div class="row border-bottom my-2 py-2">
            <div class="col-2 offset-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-envelope justify-content-center" style="font-size: 3.6rem;color:#EA3B95; background-color:#E3E7F8; border-radius:5px "></i>
            </div>
            <div class="col-6">
                <row>
                    <div class="col-10 align-self-bottom" style="color:#EA3B95">
                        <h5>Mail Contacto</h5>
                    </div>
                </row>
                <row class="d-flex align-self-end">
                    @Html.TextBoxFor(p => p.UserEmail,
                new {@class = "form-control"})               
                </row>
                @Html.ValidationMessageFor(m => m.UserEmail, "", new {@style="color:red"})
            </div>
        </div>

        <div class="container">
            <div id="clinicContainer" class="row m-2 d-flex clinic-container">

                <h2 class="text-center text-light align-self-center">Por favor, seleccione un País</h2>

            </div>

            <div id="submitter" class="text-center d-flex justify-content-center d-none">
                <button id="clinicButton" class="btn form-control p-1 my-5 border-light" style="color:white; border-radius: 50px; background-color:darkcyan;">Enviar</button>
            </div>


        </div>




    </div>

    <div id="loadingSpinner" class="loading-spinner"></div>


}

<script src="~/js/clinics.js"></script>

<script>

    var provinceList = @Html.Raw(Json.Serialize(Model.ProvinceList));
    var locationList = @Html.Raw(Json.Serialize(Model.ProvinceLocationList));
    var clinicLocationList = @Html.Raw(Json.Serialize(Model.LocationsList));


    document.getElementById('countryDropdown').addEventListener('change', function(){
        countryHandler(provinceList, this.value);
    });

    document.getElementById('provinceDropdown').addEventListener('change', function () {
        provinceHandler(locationList, this.value);
    })

    document.getElementById('provinceLocationDropdown').addEventListener('change', function(){
        provinceLocationDropdownHandler(clinicLocationList, this.value);
    })


</script>

<script src="~/js/index.js"></script>
