@model ProyectoMerck.Models.FertilityVM

<div>
    <header class="merck-pink-color">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
            <div class="container-fluid">
                <a href="@Url.Action("Index", "Fertility")" class="btn"><i class="bi bi-chevron-left left-arrow"></i></a>
                <button class="navbar-toggler nav-button" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list white"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                </div>
            </div>
        </nav>
        <img class="merck-img" src="~/images/MerckFertilidad.JPG" />
    </header>

    <div class="merck-pink-color">
        <div class="row justify-content-center mx-0">
                <div class="col-1">
                </div>


            <div class="col-7 offset-1 text-center align-self-center nav-button">@(Model.FertilityLevel != FertilityLevel.High ? "Indicador" : "")</div>
            <div class="col-2">
            </div>


                <div class="white-center-aligned">
                    <br>
                    <h4 class="bold-text">EDAD ACTUAL:</h4>
                    <h4>@Model.ActualAge AÑOS</h4>
                    <br />
                    <h4 class="bold-text">1ERA MENSTRUACIÓN:</h4>
                    <h4>A LOS @Model.FirstAge AÑOS</h4>
                </div>

            <div class="text-center d-flex justify-content-center">
                <a id="clinicButton" class="btn col-4 p-1 my-5 border-light submit-button"  href="@Url.Action("Information","Fertility")">Quiero saber mas!</a>
            </div>


            <div class="curved-top-border">
            </div>

        </div>


    </div>


        <div class="container-fluid" id="mainContent" style="overflow:hidden">
        <div id="curveChart"></div>
        </div>
</div>

<div id="loadingSpinner" class="loading-spinner"></div>


<script src="~/js/charts.js"></script>
<script src="/js/site.js"></script>

<script>

    showLoadingSpinner();

    var ovuleCount = @Model.OvuleCount;

    google.charts.setOnLoadCallback(function(){
        drawChart(ovuleCount);

        hideLoadingSpinner();
    });

</script>


